<h1><%= title %></h1>

<!-- Flash Message -->
<!-- <div class="flash-message">
    %- flash_message %>
</div> -->

<!-- contact Form -->
<form id="contact-us" action="/contact/contact-us" method="post">
    <div class="form-group">
        <label for="contact_email">Email Address:</label>
        <input type="email" id="contact_email" name="contact_email" value="<%= locals.account_email %>" required>
    </div>
    <div class="form-group">
        <label for="contact_message">Enter Message Here:</label>
        <input type="text" id="contact_message" name="contact_message" required> 
    </div>
    <button type="submit">Send Message</button>
</form>

