<h1><%= title %></h1>

<!-- Flash Message -->
<!-- <div class="flash-message">
    %- flash_message %>
</div> -->

<h2>You're logged in</h2>

<form action="/account/management" method="post">
    <button type="submit">Log Out</button>
</form>