<nav id="nav">
    <ul class="nav-link">
        <li><a class="nav-link" href="https://shanebasham.github.io/wdd230/index.html">Home</a></li>
        <li><a class="nav-link" href="https://shanebasham.github.io/wdd230/lesson03/chamber-site-plan.html">Custom</a></li>
        <li><a class="nav-link" href="https://shanebasham.github.io/wdd230/chamber/index.html">Sedan</a></li>
        <li><a class="nav-link" href="https://www.byui.edu/">SUV</a></li>
        <li><a class="nav-link" href="https://www.churchofjesuschrist.org/study/scriptures/bofm/3-ne/11?lang=eng">Truck</a></li>
    </ul>
</nav>