
.center-panel {
  margin-left: auto;
  margin-right: auto;
  width: 38rem;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
}

.pad-left-right{
  padding-left:1rem;
  padding-right:1rem;
}


.list-contact:hover {
  transform: scale(1.02);
  transition: transform 150ms ease-in-out;
  cursor: grab;
}