@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
 }

#content {
    max-width: 1600px;
    margin: 0 auto;
}
  
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  }
  img.avatar {
    width: 25%;
    border-radius: 50%;
  }
  span.psw {
    float: right;
    padding-top: 16px;
  }

header a {
  font-family: "Lucida Console", "Courier New", monospace;
  display: inline-block;
  text-decoration: none;
  color: white;
}
h1 {
  float: right;
  padding-left: 25px;
}
header {
  padding-top: 15px;
  color: white;
  background-color: black;
  text-decoration: none;
  text-align: center;
  border: 4px solid white;
}
nav {
  border-top: 4px solid white;
  flex-direction: column;
}
nav a {
  display: block;
  color: black;
  text-decoration: none;
  text-align: center;
  margin: 15px 50px;
}
ul {
  list-style: none;
}
li {
  display: inline-block;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    background-color: white;
}
.home-grid {
  margin: 0px;
  display: grid;
  grid-template-columns: repeat(6,1fr);
  border: 4px solid black;
  padding: 100px;
  column-gap: 25px;
  row-gap: 50px;
  text-align: center;
}

.img {
    z-index: 1;
    width: 125px;
    border: 2px solid black;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
    height: auto;
    margin: auto;
}
.img:hover {
    opacity: 1;
    transform: scale(2.5);
}
h2 {
    text-align: center;
    color: black;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 20px;
    margin: 0;
}
h3 {
    display: block;
    margin-top: 10px;
    color: black;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 15px;
    height: 15px;
    transition: height 0.5s;
    text-align: center;
}

footer {
  font-family: "Comic Neue", Helvetica, sans-serif;
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 25px;
  margin: 0 auto;
  border: 4px solid white;
}
footer p {
  padding: 0px;
  text-align: center;
  background-color: black;
  color: white;
  text-decoration: none;
}



.vehicle-detail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}

.vehicle-image img {
  max-width: 100%;
  height: auto;
}

.vehicle-info {
  margin: 20px;
}




@media only screen and (max-width: 900px) {
.modal-content {
    width: 100%;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.vehicle-detail {
  flex-direction: column;
}

form {
  margin: 0 auto;
  align-self: center;
}
ul {
  text-align: center;
  align-self: center;
  list-style: none;
  margin: 0 auto;
  max-width: 400px;
  padding-inline-start: 0px;
}
li {
  display: inline;
}
}

@media screen and (max-width: 900px) {
    .home-grid {
        display: block;
        height: auto;
        padding-top: 25px;
    }
    .shop-home-grid {
      display: block;
      height: auto;
      padding: 25px;
      margin: 0 auto;
      padding-bottom: 100px;
    }
    .container {
      padding-top: 50px;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    .myImages {
        width: 100%;
        margin-top: 100px;
        border-width: 4px;
    }
    .myImages:hover {
        opacity: 1;
        transform: scale(1);
    }
    h3 {
        transition: none;
        overflow: visible;
    }
}