<!-- Add Vehicle Form -->
<form id="AddNewInventory" action="/inv/add-inventory" method="post">
    <div class="form-group">
        <label for="inv_make">Make:</label>
        <input type="text" class="form-control" id="make" name="inv_make" required>
    </div>
    <div class="form-group">
        <label for="inv_model">Model:</label>
        <input type="text" class="form-control" id="model" name="inv_model" required>
    </div>
    <div class="form-group">
        <label for="inv_year">Year:</label>
        <input type="number" class="form-control" id="year" name="inv_year" required>
    </div>
    <div class="form-group">
        <label for="inv_description">Description:</label>
        <textarea class="form-control" id="description" name="inv_description" required></textarea>
    </div>
    <div class="form-group">
        <label for="inv_image">Image Path:</label>
        <input type="text" class="form-control" id="inv_image" name="inv_image" value="/images/vehicles/no-image.png" required>
    </div>
    <div class="form-group">
        <label for="inv_thumbnail">Thumbnail Path:</label>
        <input type="text" class="form-control" id="inv_thumbnail" name="inv_thumbnail" value="/images/vehicles/no-image-tn.png" required>
    </div>
    <div class="form-group">
        <label for="inv_price">Price:</label>
        <input type="text" class="form-control" id="inv_price" name="inv_price" required>
    </div>
    <div class="form-group">
        <label for="inv_miles">Miles:</label>
        <input type="text" class="form-control" id="inv_miles" name="inv_miles" required>
    </div>
    <div class="form-group">
        <label for="inv_color">Color:</label>
        <input type="text" class="form-control" id="inv_color" name="inv_color" required>
    </div>
    <div class="form-group">
        <label for="classification_id">Classification:</label>
        <%- classification_list %>
    </div>
    <button type="submit" class="btn">Add Vehicle</button>
</form>
</div>

