<% if (title) { %>
<h1><%= title %></h1>
<% } else {
    res.redirect('/')
} %>

<%# messages() %>

<!-- view links -->
<div class="links">
    <a href="/inv/add-classification">Add Classification</a>
    <a href="/inv/add-inventory">Add Inventory</a>
</div>
