<div class="row">
   <div class="panel panel-default">
      <div class="panel-heading">
         <div class="row pad-left-right">
            <span class="title pull-left">Messages</span>
         </div>
      </div>
      <div class="panel-body">
         <div class="row">
            <div class="center-panel" *ngIf="messages$ | async as messages">
               <app-message-item
                  *ngFor="let messageEl of messages; let i = index"
                  [message]="messageEl"
                  [index]="i">
               </app-message-item>
            </div>
            <p *ngIf="!messages && messages.length === 0">
                  No messages found.
            </p>
         </div>
      </div>
      <div class="panel-footer">
         <app-message-edit></app-message-edit>
      </div>
   </div>
</div>