<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row pad-left-right">
      <span class="pull-left title">Documents</span>
      <a class="btn btn-success pull-right" (click)="onNewDocument()">Add Document</a>
    </div>
  </div>
  <div class="panel-body">
    <div class="center-panel" *ngIf="documents$ | async as documents">
      <app-document-item
        *ngFor="let documentEl of documents; let i = index"
        [document]="documentEl"
        [index]="i">
      </app-document-item>
    </div>
    <p *ngIf="!documents && documents.length === 0">
      No documents found.
    </p>
  </div>
</div>
