<div class="panel panel-default">
  <div class="panel-body">
    <form id="document-edit" [formGroup]="documentForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="name">Document Title:</label>
          <input
            type="text"
            id="name"
            class="form-control"
            formControlName="name"
            size="120"
            max="120"
            name="name"
            required>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="description">Document Description:</label>
          <input
            type="text"
            id="description"
            class="form-control"
            formControlName="description"
            size="120"
            max="255"
            name="description">
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="url">Document URL:</label>
          <input
            type="text"
            id="url"
            class="form-control"
            formControlName="url"
            size="150"
            max="255"
            name="url"
            required>
        </div>
      </div>

      <div>
        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
          <div *ngIf="name.errors?.['required']">
            Title is required.
          </div>
        </div>

        <div *ngIf="url.invalid && (url.dirty || url.touched)" class="alert alert-danger">
          <div *ngIf="url.errors?.['required']">
            URL is required.
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 btn-toolbar">
          <button class="btn btn-success" type="submit" [disabled]="!documentForm.valid">Save</button>
          <button class="btn btn-danger" type="button" (click)="onCancel()">Cancel</button>
        </div>
      </div>

    </form>
  </div>
</div>

