
.required.ng-invalid {
  border: 1px solid red;
}
.invalid.ng-invalid.ng-dirty {
  border: 1px solid red;
}
.pad-left-right{
  padding-left:.1rem;
}
.deleteButton {
  margin-top: 1.5rem;
  margin-left: -1.2rem;
  width: 3.4rem;
}
.buttonDiv {
  margin-top: 1.5rem;
}
.groupDiv {
  min-height: 6rem;
  border: solid thin lightgrey;
}
.dropZone {
  font-size: 2rem;
  color: darkgrey;
  margin-left: 3rem;
}

.remove-btn {
  border: none;
  padding: 0 0.5rem;
  cursor: pointer;
  border-radius: 3px;
  margin-left: 0.5rem;
}
.remove-btn:hover {
  background: red;
}
.group-contact-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border: 1px solid #ccc;
  margin-bottom: 0.25rem;
  border-radius: 4px;
  background: #fff;
}
.group-contact-item:hover {
  cursor: grab;
}